target/
.idea/.name
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__asm_asm_2_2_3.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_1_12.xml
.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_7.xml
.idea/libraries/Maven__com_sun_xml_messaging_saaj_saaj_impl_1_3_2.xml
.idea/libraries/Maven__com_sun_xml_ws_jaxws_rt_2_2_10.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_jws_jsr181_api_1_0_MR1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0.xml
.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_2_9.xml
.idea/libraries/Maven__javax_xml_soap_javax_xml_soap_api_1_3_5.xml
.idea/libraries/Maven__javax_xml_soap_saaj_api_1_3.xml
.idea/libraries/Maven__javax_xml_ws_jaxws_api_2_2_11.xml
.idea/libraries/Maven__joda_time_joda_time_2_10.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/libraries/Maven__org_apache_cxf_cxf_api_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_common_schemas_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_common_utilities_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_bindings_soap_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_bindings_xml_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_core_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_databinding_jaxb_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_jaxws_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_simple_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_transports_http_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_ws_addr_2_2_3.xml
.idea/libraries/Maven__org_apache_cxf_cxf_tools_common_2_2_3.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_activation_1_1_spec_1_0_2.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_annotation_1_0_spec_1_1_1.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_javamail_1_4_spec_1_6.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jaxws_2_1_spec_1_0.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_stax_api_1_0_spec_1_0_1.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_ws_metadata_2_0_spec_1_1_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_9_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_jcl_2_9_1.xml
.idea/libraries/Maven__org_apache_neethi_neethi_2_0_4.xml
.idea/libraries/Maven__org_apache_ws_commons_schema_XmlSchema_1_4_5.xml
.idea/libraries/Maven__org_codehaus_woodstox_wstx_asl_3_2_8.xml
.idea/libraries/Maven__org_springframework_spring_beans_2_5_5.xml
.idea/libraries/Maven__org_springframework_spring_context_2_5_5.xml
.idea/libraries/Maven__org_springframework_spring_core_2_5_5.xml
.idea/libraries/Maven__org_springframework_spring_web_2_5_5.xml
.idea/libraries/Maven__wsdl4j_wsdl4j_1_6_2.xml
.idea/libraries/Maven__xml_resolver_xml_resolver_1_2.xml
.idea/misc.xml
.idea/modules.xml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
